# This workflow will upload a Python Package to PyPI when a release is created
name: Upload Python Package to PyPI

on:
  release:
    types: [published]

jobs:
  release-build:
    name: Build release distributions
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install build dependencies
        run: python -m pip install --upgrade build

      - name: Build package
        run: python -m build

      - name: Upload distributions as an artifact
        uses: actions/upload-artifact@v4
        with:
          name: python-package-distributions
          path: dist/

  pypi-publish:
    name: Publish package to PyPI
    runs-on: ubuntu-latest
    needs: [release-build] # This job depends on the build job completing successfully
    permissions:
      id-token: write # This is required for trusted publishing

    environment:
      name: pypi
      url: https://pypi.org/p/vectorDBpipe # UPDATE THIS with your package name

    steps:
      - name: Retrieve release distributions
        uses: actions/download-artifact@v4
        with:
          name: python-package-distributions
          path: dist/

      - name: Publish release distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
